# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables / secrets
.env
*.env

# Build / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Project outputs
outputs_phishing/
runs/
checkpoints/
